{% extends 'common.html' %}

{% load static %}


{% block title %} Log in {% endblock %}

{% block content %}


{% if messages%}

{% for message in messages %}
<p class="border w-50 m-auto  my-2  p-2 text-center ">{{message}}</p>

{% endfor %}
{% endif %}

<form action="/account/login/"  method="post" class="container w-50 mt-5 bg-info-subtle  p-5"  data-aos ='zoom-out' data-aos-duration="3000">
    {% csrf_token %}
       <div class="row" >
       <div>
           <label for="email" class="form-label ">Email</label>
           <input  name= 'email'type="text" id="" class="form-control ">
       </div>
       <div>
           <label for="password" class="form-label ">Password</label>
           <input name="password"type="password" id="" class="form-control ">
       </div>
   </div>
   <button type="submit" class="btn bg-body-tertiary mt-3 w-75 d-block m-auto mb-3 " >Log in</button>
</form>

{% endblock %}