{% extends 'common.html' %}

{% load static %}

{% block title %} detail {% endblock %}

{% block content %}

 <div class="container-fluid"  data-aos= 'zoom-in' data-aos-duration = '3000'>
    <div class="article">
        {% if request.user == post.author%}
            <button class="btn btn-outline-danger m-2 text-black-50 "><a href="{% url 'post-delete' object.id %}">Delete</a></button>
        {% endif %}
        <h2>{{object.title}}</h2> <span></span>
        <img src="{{object.post_image.url}}" alt="image here" class=" object-fit-contain" style = "width: 200px;">
        <p>{{object.content}}</p>
        <p>{{object.date_posted}}</p>
        <p><a href="#" style="text-decoration: none;">{{object.author}}</a></p>
    
    </div>
</div>







<!-- {% for bouquet in bouquets %}  -->

<!-- <h4>{{bouquet.id}}-- <a href="/display/{{bouquet.id}}">{{bouquet.name}}</a></h4> -->
<!-- <h4>{{bouquet.id}}-- <a href="{% url 'display' bouquet.id %}">{{bouquet.name}}</a></h4> -->

<!-- {% endfor %} -->

{% endblock %}

