{% extends 'common.html' %}

{% load static %}


{% block title %} Log in {% endblock %}

{% block content %}




<form action="" enctype="multipart/form-data" method="post" class="container w-75 mt-5 bg-info-subtle  p-2"  data-aos ='zoom-out' data-aos-duration="3000">
    {% csrf_token %}
       <!-- <div class="row" > -->
       <div>
           <label for="title" class="form-label ">title:</label>
           <input  name= 'title'type="text" id="" class="form-control">
       </div>
       <div>
           <label for="image" class="form-label ">title:</label>
           <input  name= 'post_image' type="file" id="" class="form-control">
       </div>
       <div>
           <label for="content" class="form-label ">content:</label>
           <!-- <input name="content"type="password" id="" class="form-control"> -->
           <textarea name="content" id="" class="form-control "></textarea>
       </div>
   <!-- </div> -->
   <button type="submit" class="btn bg-body-tertiary mt-3 w-75 d-block m-auto mb-3">post</button>
</form>

{% endblock %}